<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="javascript:void(0);">MCQ
    <sub>by</sub>
    <img src="https://avatars2.githubusercontent.com/u/15701284?s=460&amp;v=4" width="25px" alt="code-storm">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <span id="timer" style="margin-right: 15px;color: white;">00:00</span>
      <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 10px;" (click)="onFinish($event)" type="button">FINISH</button>
      <button *ngIf="profilePicture" class="btn btn-light my-2 my-sm-0" (click)="onLogOut($event)" type="button">
        <img src="{{profilePicture}}" width="30px" style="
          border-radius: 100%;
          margin-right: 5px;
          border: dashed 1px green;
      "> Logout
      </button>
    </form>
  </div>
</nav>